body {
    background: #d3d3d3;
}

.container {
    background: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 5px 10px 20px 20px;
    border: 2px solid #797979;
        
}

h1 {
    color: #2f4f4f;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #9a9898;
}

.form-group {
    height: 30px;
}

label {
    font-weight: bold;
}

.btn-enviar {
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
    background: #69696a;
    color: #fff;
}
